<!-- header -->
<nav class="navbar is-link is-fixed-top">
  <div class="navbar-brand">
    <h1 class="navbar-item is-size-4">Scotchy Memes</h1>
  </div>
</nav>

<!-- the actual content -->
<div class="section">
  <div class="container">
    <div class="images">
      <div class="box image is-5by4">
        <img id="i01" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593811/15_eegbn0.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_533/v1526593811/15_eegbn0.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i02" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593811/14_alibgk.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_655/v1526593811/14_alibgk.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i03" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593811/13_w6cduy.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_532/v1526593811/13_w6cduy.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i04" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593810/11_sx2cpl.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_538/v1526593810/11_sx2cpl.webp" alt=""  #image>
      </div>

      <div class="box image is-5by4">
        <img id="i05" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593810/10_glcemk.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_650/v1526593810/10_glcemk.webp" alt=""  #image>
      </div>

      <div class="box image is-5by4">
        <img id="i06" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593810/08_kzi8xe.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_691/v1526593810/08_kzi8xe.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i07" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593810/07_loq0b4.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_703/v1526593810/07_loq0b4.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i08" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593809/05_t7l66e.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_613/v1526593809/05_t7l66e.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i09" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593809/04_t9shus.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_535/v1526593809/04_t9shus.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i10" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593809/03_fsaymj.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_715/v1526593809/03_fsaymj.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i11" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593809/02_walsxe.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_649/v1526593809/02_walsxe.webp" alt="" #image>
      </div>

      <div class="box image is-5by4">
        <img id="i12" src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_10/v1526593809/01_r77clg.webp"
          data-src="https://res.cloudinary.com/chuloo/image/upload/c_scale,w_653/v1526593809/01_r77clg.webp" alt="" #image>
      </div>

    </div>
  </div>
</div>
