:host {
  --width: 70%;
  --theme: rebeccapurple;
  --frame-color: #571821;
  --frame-width: 0.75rem;
  --frame-radius: 10px;
}

section {
  margin-top: 70px;
}

.container {
  width: var(--width);

  .image {
    &-container {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &-title {
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
  }

  .invisible {
    visibility: hidden;
  }

  .image {
    border: var(--frame-width) solid var(--frame-color);
    border-radius: var(--frame-radius);
  }
}

.navbar {
  &.is-link {
    background: var(--theme);
  }

  .navbar-brand {
    margin: 0 auto;
    h1 {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    --theme: goldenrod;
  }
  .is-size-3 {
    font-size: 1rem !important;
  }
}
