.container {
  width: 50%;

  .image {
    margin: 100px auto;
  }

  .invisible {
    visibility: hidden;
  }
}

.navbar {
  &.is-link {
    background: rebeccapurple;
  }

  .navbar-brand {
    margin: 0 auto;
  }
}

